
body {
    margin: 0 auto;
    max-height: auto;
    background: #ff9393;
}

 
.Viking{
margin-top: 2px;
margin-bottom: -2px;
height: 60px;
width: 60px;
}


#go {
    padding-left: 40px;
    padding-right: 40px;
    background-color:#00B200;
    border:none;
    color:#fff;
    font-size:25px;
    margin-left: 70px;
    margin-top: 30px;
}

#go:hover {
    background-color:#009900;
    color:#fff;
    transition: 1s background-color ease;
}

#go:active:focus {
    background-color:#009900;
    color:#fff;
    outline:none;
}

#go:focus {
    background-color:#009900;
    color:#fff;
    outline:none;
}



/* RESPONSIVE CSS FOR NAVIGATION BAR
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CSS FOR LOG IN PAGE
-------------------------------------------------- */
#userName {
    margin-top: -230px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}

#userName::-webkit-input-placeholder {
  color: white;
}

#userName:focus::-webkit-input-placeholder {
  color: #e74c3c;
}

.Annoucements{
text-align: center;
color: #fff;
font-weight: 600;
line-height: 1.3em;
}

                                            /* Log in */

}


/* FOR LOG IN SPT OUT NAME */
#output{
margin-top: -80px;
margin-left: 205px;
}


/* ============================================================
  PARALAX PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  PARALAX SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1px;
    text-align: center;
    word-spacing: 200px;

}

.sub{
color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margine:0 0 72px;
    text-align: center;
}

section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#backpic{
  background-image: url("Pictures/144647871458922.jpeg")
}
section.module.parallax-1 {
  background-image: url("Pictures/IMG_0948.jpg")
}
  section.module.parallax h1 {
    font-size: 106px;
  }

.Home{
    margin-top: -30px;
    width: 20%;
    height: 20%;
    letter-spacing: 90px;
    margin-right: 80px;
}

.image-container {
 margin-left: 18%;
}

@media (max-width: 750px) {
 .Home{
     margin-right:10px;
 }
}

@media (max-width: 600px) {
    
section.module h2 {
    font-size:20px;
 }
}
    
.tiholder {
    margin: auto;
    background: rgba(255,255,255,.7); 
    margin: 10px;
    float: left;
}

.postitle {
letter-spacing: 7px;
text-align: center;
margin-top: 30px;

}

.dateholder {
    margin:auto;
    text-align: center;
    background: rgba(255,255,255,.7);  
    margin: 10px;
    float: left;    
}

.clubholder {
    margin:auto;
    background: rgba(255,255,255,.7);  
    margin: 10px;
    float: left;
}


#clubname {
    text-align: center;
}



.whitebox {
    margin-left: 50px;
    margin-right: 50px;
    width: 900px;
    padding: 105px;
    background-color: white;

}

.box {
    background-color: #EEF7FA;
    border-radius: 10px;
    width:960px;
    margin-top:100px;
    margin-left:163px;
}



.postbox-student {
    colour:black;
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 120px;
    margin-bottom: -70px;
    padding: 20px;
    outline-color: black;
    
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.9);
  display: block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}

.createapostbox {
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    margin-top: 10px;
  
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  display: block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}

.createapostbox::-webkit-input-placeholder {
  color: white;
}

.createapostbox:focus::-webkit-input-placeholder {
  color: #e74c3c;
}


input.createapostbox::-webkit-input-placeholder {
  color: black;
}

input#date{
  color: black;
    text-align: center;
}

input#insertpost::-webkit-input-placeholder {
  color: black;
}







/************************************ FONTS ************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

/************************************* END FONTS *************************************/
.user-name {
	font-size: 23px;
    color: #fff;
}

.title {
	font-size: 15px;
}

	.scnd-font-color {
		color: #9099b7;
	}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
	.big-profile-picture {
		margin: 0 auto;		
		border: 5px solid #50597b;
		width: 150px;
		height: 150px;
	}

/** CONTAINERS **/

.block {
margin-top: 100px;
margin-bottom: 80px;
background: #394264;
border-radius: 5px;
width: 500x;
margin-left: auto;
margin-right: auto;   
		}

/*******CONTAINER *********/
				
.user-name {
margin: 25px 0 16px;
text-align: center;
}

.profile-description {
width: 410px;
margin: 0 auto;
text-align: center;
				}
				
.profile-options {
padding-top: 23px;
}



/*------------------------------------- Student Home Page Option Selectons -------------------------*/
.speaker{
    margin-left: 400px;
    background-image: url(Pictures/noun_30589_cc.png);
    display: inline-block;
    background-size: cover;
    height: 200px;
    width: 200px;
}

.speaker:hover{
background-image: url(Pictures/speakerr.png);    
}


.account{
background-image: url(Pictures/Account.png);
display: inline-block;
margin-left: 85px;
background-size: cover;
height: 200px;
width: 200px;
}

.account:hover{
background-image: url(Pictures/profile.png)
}

.faq{
background-image: url(Pictures/noun_7455_cc.png);
display: inline-block;
background-size: cover;
margin-top: -300px;
margin-bottom: 18px;
margin-left: 50px;
height: 200px;
width: 200px;
}

.faq:hover{
background-image: url(Pictures/faq.png)
}

.mpost{
background-image: url(Pictures/Write%20A%20Post.png);
display: inline-block;
background-size: cover;
margin-left: 415px;
margin-bottom: 18px;
height: 200px;
width: 200px;
}

.mpost:hover{
background-image: url(Pictures/mpost.png)
}

.faqq{
background-image: url(Pictures/noun_7455_cc.png);
display: inline-block;
background-size: cover;
margin-top: -300px;
margin-bottom: 18px;
margin-left: 30px;
height: 200px;
width: 200px;
}

.faqq:hover{
background-image: url(Pictures/faq.png)
}


.accounttt{
background-image: url(Pictures/Account.png);
display: inline-block;
margin-left: 88px;
background-size: cover;
height: 200px;
width: 200px;
}

.accounttt:hover{
background-image: url(Pictures/profile.png)
}


#table1 {
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
}

#table1 td{
border-bottom: 2px solid black;
 border-right: 2px solid black;
 padding-right: 4px;
 padding-left: 4px;
}


.timetitle {
    text-decoration: underline;
    text-align: center;
}

.paratitle {
    text-decoration: underline;
    text-align: center;
}

.clubtitle {
    text-decoration: underline;
    text-align: center;
}

.tabletitle {
    text-decoration: underline;
    text-align: center;
}



#password {
margin-left: auto;
margin-right: auto;
margin-top: 20px;
    display: block;
  
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  width: 300px;  
  font-size:18px;
  height: 54px;
}

#password::-webkit-input-placeholder {
  color: white;
}

#password:focus::-webkit-input-placeholder {
  color: #e74c3c;

}





.male-female {
}

.insertpost {
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  display: block;
  margin: 15px;
  width: 900px;  
  font-size:18px;
  height: 204px;
  outline-color: black;
  border: solid black 1px;
  
}

}

.inserpost::-webkit-input-placeholder {
  color: white;
}

.insertpost:focus::-webkit-input-placeholder {
  color: #e74c3c;
}













#gender-student {
    margin-top: 200px;
    margin-left: 300px;
}





.postbutt {
    margin-left: 450px;
}

.anntitle {
letter-spacing: 4px;
text-align: center;
margin-top: 150px;
margin-bottom: -100px;
}

.gender-stu {
    colour:black;
    margin-left: 700px;
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
    outline-color: black;
    
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.9);
  display: block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}





.textbox-post {
    margin-top: 20px;
}

.choice-title {
letter-spacing: 4px;
text-align: center;
 font-size: 30px;

}



.createapostbox-choice {
    margin-top: 80px;
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    display: block;
  
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  width: 300px;  
  font-size:18px;
  height: 54px;
}
}





#gender-studentchocie {
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    margin-top: 70px;
  
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  display: block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}

.choiceagender {
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    margin-left: 310px;
    margin-top: -54px;
  
  padding: 16px;
  border-radius:7px;
  display: block;
  background: rgba(255,255,255,.9);
  width: 300px;  
  font-size:18px;
  height: 54px;
}    
.choiceagender::-webkit-input-placeholder {
  color: white;
}
 .choiceagender:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
        
 input.choiceagender::-webkit-input-placeholder {
  color: black;
}    
}


.genderstudent {
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    margin-top: 30px;
  
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  display: inline-block;
  width: 300px;  
  font-size:18px;
  height: 54px;
}

.genderstudent::-webkit-input-placeholder {
  color: white;
}

.genderstudent:focus::-webkit-input-placeholder {
  color: #e74c3c;
}

input.genderstudent::-webkit-input-placeholder {
  color: black;
}


.gradepick {
    text-align: center;
    outline-color: black;
    border: solid black 1px;
    margin-bottom: 80px;
  
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  width: 300px;  
  font-size:18px;
  height: 54px;
}   

 .gradepick::-webkit-input-placeholder {
  color: white;
}
                
.gradepick:focus::-webkit-input-placeholder {
  color: #e74c3c;
}                

 input.gradepick::-webkit-input-placeholder {
  color: black;
}         

.genderpick {
    text-align: right;
    outline-color: black;
    border: solid black 1px;
margin-top: 90px;
    display: block;
    
  padding: 16px;
  border-radius:7px;
  background: rgba(255,255,255,.9);
  width: 300px;  
  font-size:18px;
  height: 54px;
}
                
 .genderpick::-webkit-input-placeholder {
  color: white;
}   

 .genderpick:focus::-webkit-input-placeholder {
  color: #e74c3c;
}

input.genderpick::-webkit-input-placeholder {
  color: black;
}
}





.postbox-choice2 {
    float: right;
}

.postbox-choice {
    float: right;
}

.Gender-Title {
margin-top: 40px;
margin-left: 80px;
}

.title-gender {
    float: right;
}

.title-club {
    float: left;
}

.Gender1-Title {
    text-align: center;
}





.Club-setting {
float: right;
margin-top: 48px;
margin-right: -170px;
font-size: 20px;
}

.Gender-setting {
    float: left;
    margin-top: 48px;
    margin-left: 100px;
    font-size: 20px;
}

.table-header {
letter-spacing: 4px;
text-align: center;
margin-bottom: 30px;
font-size: 30px;
}
